XP/PLAYLIST-07062005.XSD

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://www.real-image.com/QUBE-PLAYLIST-07062005#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:pl="http://www.real-image.com/QUBE-PLAYLIST-07062005#"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd" />
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd" />
	<xs:element name="Playlist" type="pl:GenericPlaylist" />
	<xs:complexType name="GenericPlaylist">
		<xs:sequence>
			<xs:element name="EventList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="PlayTrack" type="pl:PlayTrackEvent" />
										<xs:element name="PlayTitle" type="pl:PlayTitleEvent" />
										<xs:element name="WaitForTime" type="pl:WaitForTimeEvent" />
										<xs:element name="CallPlaylist" type="pl:CallPlaylistEvent" />
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="pl:UUID" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="CreationDate" type="xs:dateTime" use="required"/>
		<xs:attribute name="Creator" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GenericEvent">
		<xs:attribute name="ID" type="pl:UUID" use="required" />
	</xs:complexType>
	<xs:complexType name="PlayTrackEvent">
		<xs:complexContent>
			<xs:extension base="pl:GenericEvent">
				<xs:attribute name="Track" type="pl:UUID" use="required" />
				<xs:attribute name="InTrim" type="xs:decimal" use="required" />
				<xs:attribute name="OutTrim" type="xs:decimal" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlayTitleEvent">
		<xs:complexContent>
			<xs:extension base="pl:GenericEvent">
				<xs:attribute name="Title" type="pl:UUID" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CallPlaylistEvent">
		<xs:complexContent>
			<xs:extension base="pl:GenericEvent">
				<xs:attribute name="Playlist" type="pl:UUID" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaitForTimeEvent">
		<xs:complexContent>
			<xs:extension base="pl:GenericEvent">
				<xs:attribute name="Duration" type="xs:decimal" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="urn:uuid:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
